<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/img/lgqm.jpeg" >
    <link rel="stylesheet" href="/css/article.css">
</head>
<body class="bg-black">
    <main>
        <div class="container">
            <h1>自动化生成每日临高宇宙新闻</h1>
        </div>
    </main>
</body>
<script src="/js/article.js"></script>
</html>